{% extends 'base.html' %}
{% block content %}
<h2>Issue Location</h2>
<p><b>Description:</b> {{ issue.description }}</p>
<p><b>Category:</b> {{ issue.category }}</p>
{% if issue.latitude and issue.longitude %}
    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps?q={{ issue.latitude }},{{ issue.longitude }}&output=embed" allowfullscreen></iframe>
    <p>Coordinates: {{ issue.latitude }}, {{ issue.longitude }}</p>
{% elif issue.address %}
    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps?q={{ issue.address|urlencode }}&output=embed" allowfullscreen></iframe>
    <p>Address: {{ issue.address }}</p>
{% else %}
    <p>Location not available.</p>
{% endif %}
{% endblock %} 